/********** Web Fonts **********/
@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900); /* font-family: 'Elsie Swash Caps', cursive; */
@import url(http://fonts.googleapis.com/css?family=Clicker+Script); /* font-family: 'Clicker Script', cursive; */

/* scale all images, and media to accomodate responsive layout. */


/* prevent the verify image on contact page from stretching */
img.verif_img {
	width: 50px;
	height:30px;
	vertical-align: bottom;
}

/********** Global **********/

body {
	/*background: url(../images/wood.jpg);*/
	/*background-repeat: y;*/
	background-color: #d896ff;

}

h2, h3 {
	margin-bottom: 5px;
}

ul, ol {
	margin-bottom: 10px;
}

li {
	margin-left: 20px;
}

p, address {
	margin: 0 0 25px;
	font-size: 14px;
}

figure {
	margin:0 0 10px;
}

figcaption {
		font: 12px 'Elsie Swash Caps', cursive;
		color: #777;
		text-align: right;
}

	.navbar {
		position: relative;
		
		z-index: 1;
		border-bottom: 1px solid #ccc;
		text-align: center;
		color: rgb(128,0,128);
	}

.iframe {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	float: right;
}

.wrapper {
	position: relative;
	float: right;
	
	margin: 0 auto;
}

.milk_text {
	font: bold 22px 'Elsie Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
	margin: 0 0 10px;
}


	/********** Logo **********/

	#logo {
		padding: 85px 0 25px;
		/* gradient */
		background: rgb(128,0,128); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(128,0,128,1) 0%, rgba(216,191,216,1) 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,0,128,1)), color-stop(99%,rgba(216,191,216,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(128,0,128,1) 0%,rgba(216,191,216,1) 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(128,0,128,1) 0%,rgba(216,191,216,1) 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(128,0,128,1) 0%,rgba(216,191,216,1) 99%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(128,0,128,1) 0%,rgba(216,191,216,1) 99%); /* W3C */
	}

		#logo h1 {
			margin: 20px;
			padding-top: 20px;
			padding-left: 200px;
			display: inline-block;
			font-family: 'Clicker Script', cursive;
			
		}

		#logo h2 {
			margin:0;
			padding-top: 20px;
			display: inline-block;
			font-family: 'Elsie Swash Caps', cursive;
			
		}

/********** Social Bar **********/

#social {
	position: fixed;
	top: 200px;
	right: 3px;
	width: 40px;
	z-index: 1;
}

	a.fbook, a.twitt, a.gplus {
		display: block;
		width: 40px;
		height: 40px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/social-icons.png) no-repeat;
	}

	a.fbook { background-position: 0 0; }
	a.fbook:hover { background-position: -40px 0; }
	a.fbook:active { background-position: -80px 0; }

	a.twitt { background-position: 0 -40px; }
	a.twitt:hover { background-position: -40px -40px; }
	a.twitt:active { background-position: -80px -40px; }

	a.gplus { background-position: 0 -80px; }
	a.gplus:hover { background-position: -40px -80px; }
	a.gplus:active { background-position: -80px -80px; }


	/********** Sections **********/

	section {
		padding: 20px;
		background: white;
	}

	section a {
		color: #555;
		text-decoration: underline;
	}


/********** Footer **********/

footer {
	text-align: center;
	font-size: 10px;
	color: #555;
	padding: 10px 0 20px;
	background: #ccc
}

	footer a {
		color: #555;
		text-decoration: underline;
	}

/* code examples copyright Jonathan Grover 2012 */

/* COlUMNS */
.col-1{
	float:left;
	width:32%;
	margin-left:2%;
}
